@use "../utils/" as *;

.hero-container{
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    align-items: center;
    flex-direction: column;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @include breakpoint(medium){
            margin: rem(100) rem(100) rem(50) rem(100);
        }
        @include breakpoint-down(medium){
            margin: rem(20);
        }

    }
    .label{
        font-size: rem(28);
        font-weight: bold;
    }
    .select{
        width: rem(120);
        height: rem(50);
        border-radius: rem(15);
        border: 2px solid #4D5B9E;
        margin: rem(20) auto;
        padding: rem(5);
        font-size: rem(20);
        margin-right: rem(20);
        color: #293264;
        cursor: pointer;

        &:focus{
            outline: none;
        }
    }
    @include breakpoint-down(medium){
        .quiz-details{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .label{
            font-size: rem(20);
        }
        .select{
            width: rem(200);
            height: rem(40);
            border-radius: rem(10);
            border: 2px solid #4D5B9E;
            margin: rem(20) auto;
            padding: rem(5);
            font-size: rem(16);
            text-align: center;
            margin-right: rem(10);
            cursor: pointer;
        }
    }
    
    .category{
        @include breakpoint(large){
            width: rem(220);
        }
    }
    .option{
        font-size: rem(20);
        width: rem(70);
        color: #293264;
    }

    .btn{
        width: rem(190);
        height: rem(50);
        border-radius: rem(15);
        border: none;
        background-color: #4D5B9E;
        color: white;
        font-size: rem(20);
        margin: rem(100) auto;
        cursor: pointer;
        @include breakpoint-down(medium){
            margin: rem(20) auto;
        }

        &:hover{
            background-color: #293264;
        }
        &:focus{
            outline: none;
            box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
        }
    }
}
